{% extends "base.html" %}
{% block title %}Personas{% endblock %}
{% block aditional_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/general_styles.css"/>
{% endblock %}
{% block content %}
    {% load humanize %}
    <div class="row text-left">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Pacientes</h3>
                </div>
                <div class="box-body">
                    <div class="row text-center m-bot15">
                        <a class="btn btn-primary btn-sm" href="#person_modal" data-toggle="modal" id="btnAddPerson">
                            Agregar Persona&nbsp;&nbsp;<i class="fa fa-user"></i>
                        </a>
                        <a class="btn btn-info btn-sm" href="#person_payment_modal" data-toggle="modal" id="btnAddPersonPayment">
                            Agregar Pago&nbsp;&nbsp;<i class="fa fa-credit-card"></i>
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered m-top20">
                            <tr>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Num. Invitados</th>
                                <th class="text-center">Total a Pagar</th>
                                <th class="text-center">Restante</th>
                                <th class="text-center">Ver Pagos</th>
                            </tr>
                            {% for person in persons %}
                                <tr class="text-center">
                                    <td>{{ person.full_name }}</td>
                                    <td>{{ person.num_guest }}</td>
                                    <td>
                                        <b>${{ person.total_amount|stringformat:".2f"|intcomma }}</b>
                                    </td>
                                    <td>
                                        {%  if person.amount_left > 0 %}
                                            <span style="color:#ff0000;font-weight: bold;">
                                                ${{ person.amount_left|stringformat:".2f"|intcomma }}
                                            </span>
                                        {% else %}
                                            <span style="color:#008000;font-weight: bold;">
                                                ${{ person.amount_left|stringformat:".2f"|intcomma }}
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="#" class="btnViewPersonPayments" rel="{{ person.pk }}">Ver Pagos</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "money/modals/person_modal.html" %}
    {% include "money/modals/person_payment.html" %}
    {% include "money/modals/payment_list.html" %}
{% endblock %}
{% block aditional_js %}
    <script type="application/javascript">

        $(document).ready(function() {

            $("#btnSavePerson").click(function() {
                $(this).button("loading");
                var $personForm = $("#person_form");
                $.ajax({
                    type: "post",
                    url: "{% url "person_add" %}",
                    data: $personForm.serialize(),
                    success: function() {
                        document.location.reload();
                    },
                    error: function(errorMessage) {
                        $("#btnSavePerson").button("reset");
                        alert(errorMessage.statusText);
                    }
                });
            });

            $("#btnSavePersonPayment").click(function() {
                $(this).button("loading");
                var $personPaymentForm = $("#person_payment_form");
                $.ajax({
                    type: "post",
                    url: "{% url "person_payment_add" %}",
                    data: $personPaymentForm.serialize(),
                    success: function() {
                        document.location.reload();
                    },
                    error: function(errorMessage) {
                        $("#btnAddPersonPayment").button("reset");
                        alert(errorMessage.statusText);
                    }
                });
            });

            $(".btnViewPersonPayments").click(function() {
                var person_pk = $(this).attr("rel");
                var $bodyPersonPayments = $("#bodyPersonPayments");
                $bodyPersonPayments.html("");
                $.when(getPersonPaymentList(person_pk)).done(function(list) {
                    list.forEach(function(payment) {
                         var $row = $("<tr>");
                        var $paymentDate = $("<td>").html(payment.payment_date).addClass("text-center");
                        var $paymentAmount = $("<td>").html("$" + payment.amount_payed.toFixed(2)
                                        .replace(/\d(?=(\d{3})+\.)/g, '$&,')).addClass("text-center");
                        $row.append($paymentDate).append($paymentAmount);
                        $bodyPersonPayments.append($row);
                    });
                });
                $("#person_payment_list_modal").modal("show");
            });

            function getPersonPaymentList(person_pk) {
                var url = "{% url "get_person_payments" pk=0 %}";
                url = url.replace("0", person_pk);
                return $.ajax({
                    type: "get",
                    url: url
                });
            }

        });

    </script>
{% endblock %}