{% load custom_tagsnfilters %}
{% load humanize %}
<div class="modal" id="person_payment_list_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Pagos</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center m-bot15">
                    <h4>Pagado: <span id="personTotalPayed"></span></h4>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered m-top20">
                                <thead>
                                <tr>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Cantidad Pagada</th>
                                </tr>
                                </thead>
                                <tbody id="bodyPersonPayments">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>