{% extends "base.html" %}
{% block title %}Herramientas | Peso ideal{% endblock %}
{% block aditional_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/general_styles.css"/>
{% endblock %}
{% block content %}
    <div class="row text-center">
        <div class="col-md-12">
            <h2>Conoce tu peso ideal</h2>
            <hr/>
            <strong>Sabias que..</strong>
            <br/><br/>

            <p class="text-justify">
                Aenean massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Nam
                commodo suscipit quam. Quisque id mi. Quisque id odio.
                Nulla sit amet est. Praesent nonummy mi in odio. Ut tincidunt tincidunt erat. Curabitur vestibulum
                aliquam leo. Nunc nec neque.
                Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac
                eros. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Sed mollis, eros et ultrices
                tempus, mauris ipsum aliquam libero, non adipiscing dolor urna a orci. Donec venenatis vulputate lorem.
                Curabitur blandit mollis lacus.
                Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus
                elit id tortor. Ut id nisl quis enim dignissim sagittis.. Donec mi odio, faucibus at, scelerisque quis,
                convallis in, nisi. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis.
            </p>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">
                    <label for="personHeight">Ingrese su Altura:</label>
                    <input type="number" class="form-control" id="personHeight" placeholder="Altura (mts)"/>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-8 col-sm-10 col-md-6">
                    <button class="btn btn-success" id="btnCalculateWeight">Calcular</button>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-5">
                    <button class="btn btn-warning" id="btnClean">Limpiar</button>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">M&iacute;nimo</h3>
                        </div>
                        <div class="box-body">
                            <h4><strong>Tu peso ideal m&iacute;nimo debe ser: <span id="minWeight"></span></strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">M&aacute;ximo</h3>
                        </div>
                        <div class="box-body">
                            <h4><strong>Tu peso ideal m&aacute;ximo debe ser: <span id="maxWeight"></span></strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
    {% include 'modals/error_modal.html' %}
{% endblock %}
{% block aditional_js %}
    <script>

        $(document).on("ready", function () {

            var $errorModal = $("#errorModal");

            $("#btnCalculateWeight").click(function () {
                var height = $("#personHeight").val();
                if (height != '') {
                    var minWeight = Math.pow(height, 2) * 18.5;
                    var maxWeight = Math.pow(height, 2) * 24.99;
                    minWeight = Math.floor(minWeight * 100) / 100;
                    maxWeight = Math.floor(maxWeight * 100) / 100;
                    if (!isNaN(minWeight) && !isNaN(maxWeight)) {
                        $("#minWeight").text(minWeight + 'Kg');
                        $("#maxWeight").text(maxWeight + 'Kg');
                    } else {
                        $errorModal.find(".modal-body").text("Ingrese solo valores numéricos.");
                        $errorModal.modal("show");
                    }
                } else {
                    $errorModal.find(".modal-body").text("No deje los campos vacios.");
                    $errorModal.modal("show");
                }
            });

            $("#btnClean").click(function () {
                $("#personHeight").val("");
                $("#minWeight").text("-");
                $("#maxWeight").text("-");
            });
        });
    </script>
{% endblock %}