{% extends "base.html" %}
{% block title %}Index Page{% endblock %}
{% block aditional_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/general_styles.css"/>
{% endblock %}
{% block content %}
    <div class="row text-center">
        <div class="col-md-12">
            <h2>{{ object.title }}</h2>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            {% if object.featured_image %}
                <img src="{{ MEDIA_URL }}{{ object.featured_image }}" alt="Featured Image" class="post-image"/>
            {% else %}
                <img src="{{ STATIC_URL }}images/no-image.png" class="post-image"/>
            {% endif %}
        </div>
        <div class="col-md-9">
            <b>Autor: {{ object.author.first_name }} {{ object.author.last_name }}</b>
            <hr/>
            <span class="blog-content">
                {{ object.content }}
            </span>
        </div>
    </div>
{% endblock %}