.imc-low-status {
    background-color: #f39c12 !important;
}

.imc-normal-status {
    background-color: #01a55a !important;
}

.imc-warning-status {
    background-color: #db4b39 !important;
}

.m-top15 {
    margin-top: 15px;
}

.m-top20 {
    margin-top: 20px;
}

.m-bot15 {
    margin-bottom: 15px;
}

.m-bot20 {
    margin-bottom: 20px;
}

.male-icon-color {
    color: #1190ff;
    font-size: 18px;
}

.female-icon-color {
    color: #ff69b4;
    font-size: 18px;
}

.form-error {
    border-color: #ff0000 !important;
}

.post-image {
    max-width: 200px;
    max-height: 150px;
}

.blog-content {
    text-align: justify;
    margin-top: 20px;
}

.patient-edit {
    width: 5px;
}

.green-color {
    color: #008000;
}

.red-color {
    color: #ff0000;
}

.neutral-color {
    color: #a9a9a9;
}

.modal-map {
    height: 400px;
    width: 100%;
}

.map-form {
    height: 250px;
    width: 100%;
}